---
import { Sparkles } from '@lucide/astro';
import NewsletterSignup from './NewsletterSignup.tsx';
---

<div class="font-inter h-full flex flex-col md:block">
	<main class="h-full flex justify-center">
		<section class="flex items-start flex-col justify-center p-4 md:block md:pt-[10%]">
			<div data-hero class="bg-surface flex flex-col items-center justify-center">
				<h1 class="text-4xl font-bold flex gap-2">Welcome to Astro <Sparkles class="w-10 h-10" /></h1>
				<p class="text-lg">This is a simple welcome page</p>
				<NewsletterSignup client:load />
			</div>
		</section>
	</main>
</div>

<script type="module">
	import { animate } from 'https://esm.sh/motion@12.23.9'
	const el = document.querySelector('[data-hero]')
	animate(el, { opacity: [0, 1], y: [-20, 0] }, { duration: .8 })
</script>