---
import { Button } from '@/components/ui/button'
import { Plus } from '@lucide/astro';
---

<div class="font-inter h-full flex flex-col md:block">
	<main class="h-full flex justify-center">
		<section class="flex items-start flex-col justify-center p-4 md:block md:pt-[10%]">
			<div x-data="{ count: 0 }">
				<Button x-on:click="count++"><Plus /> Increment</Button>
				<span x-text="count"></span>
			</div>
		</section>
	</main>
</div>